:root {
    --thumbnail_size: 100px;
}

*{
    color: gray;
}
body {
    background-color: black;
    background: url('img/background.jpg') repeat fixed;
    background-size: 25% 25%;

    font-family: arial,helvetica,sans-serif;
    font-size: 16px;
}
a, a:visited, a:active {
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}

#navigation{
    padding-bottom: 10px;
}

div.center{
    background: transparent;
    margin: 0 auto;
    margin-right: auto;
    text-align: center;
}
div.table{
    margin: 0px auto;
    /*width: calc(100% - (100% / (<? echo $thumb_size; ?>+2)+2));*/
    width: 99%;
}
div.index_item {
    background-color: transparent;
    float: left;
    border-collapse:collapse; 
    padding: 5px 1px;
    width: calc(var(--thumbnail_size) -10px);
    height: var(--thumbnail_size);
}
.thumb{
    display:block;
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    margin-left: auto;
    margin-right: auto;
}
.linebreak{
    display: block;
    width: 100%;
    height: 1px;
    clear: both;
}